<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BART Ridership</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">

  <!-- amCharts script -->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

  <!-- Bootstrap script -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
  <!-- Intro Section -->
  <section id = "hero" class = "hero">
    <h1>{{ title }}</h1>
    <p id = "1">{{ text1 }}</p>
    <p id = "2">{{ text2 }}</p>
  </section>

  <!-- The div that holds the map -->
        <div id="map-id"></div>

  <!-- Radial Timeline -->
  <section id = "radial">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-4" id = "selection">
          <h3>BART Entry Stations</h3>
          <label>Pick an entry station and see how many trip are made from it.</label>
          <select id = "entry_station"></select>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-12">
          <div id = "radial"></div>
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

  <!-- API Key -->
  <script type="text/javascript" src="static/js/config.js"></script>

  <!-- Custom JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <script type="text/javascript" src="static/js/radial.js"></script>
</body>

</html>
